<?xml version="1.0" encoding="utf-8"?>


<web-app>
	<servlet>
		<servlet-name>guestbook</servlet-name>
		<servlet-class>be.post.web.UserBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>be.post.web.DataService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mailhandler</servlet-name>
		<servlet-class>be.post.web.MailGetService</servlet-class>
	</servlet>
	<servlet>
		<display-name>Remote API Servlet</display-name>
		<servlet-name>RemoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApiServlet</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>guestbook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>mail</web-resource-name>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>tta.jsp</welcome-file>
	</welcome-file-list>
</web-app>
